.mainAbout{
    margin-top: 5%;
}
.title{
    font-family: 'Times New Roman', Times, serif;
}
.flex {
    display: flex;
}
.progress{
    width: 100%;
    background-color: blue;
}
.progress::-webkit-progress-bar {
    background-color: gray;
}
.progress::-webkit-progress-value {
    background-color: red;
}
.progressTitle{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:860px){
    .details{
        overflow: hidden;
    }
}