.navBar{
    width: 100%;
    height: 100vh;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    animation-name: change;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
}
.s{
    
    animation-name: changeBlack;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
}
.f{
    animation-name: changeGray;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
}
.toggleBtn{
    cursor: pointer;
    font-size: 28px;
    border: none;
    text-shadow: 3px 3px 3px gray;
}
.fixedData{
    position: fixed;
    left: 0;
}
.links{
    text-align: center;
    padding: 6%;
}
.links:hover{
    cursor: pointer;
    color: green;
}
#moon{
    color: black;
}
@keyframes changeGray {
    from{
        color: black;
        background-color: green;
    }
    to{
        color: green;
        background-color: black;
    }
}
@keyframes changeBlack {
    from{
        color: red;
        background-color: black;
    }
    to{
        color: black;
        background-color: red;
    }
}

@media screen and (max-width:810px) {
    .toggleBtn{
        font-size: 18px;
    }
    .navBar{
        height: 100vh;
        width: 100%;
    }
    .links{
        font-size: 12px;
        padding: 2%;
    }
}

@media screen and (max-width:300px){
    .navBar{
        display: none;
        width: 0%;
    }
}
@media screen and (max-width:1000px) and (min-width:811px){
    .links{
        font-size: 24px;
    }
}