.sliderWrapper{
    margin-left: 20%;
    width: 60%;
    height: auto;
}
.slider {
    box-sizing: border-box;
}
.sliderImg{
    height: auto;
}
.btns{
    font-size: 40px;
}
@media screen and (max-width:860px) {
    .sliderWrapper{
        width: 60%;
        margin: 16%;
    }
    .btns{
        font-size: 20px;
    }
}